h1 {
 text-align: center;
}
.important {
 float: right;
 text-align: left;

 }
.unimportant {
 float: left;
 background-color: #33FF55;
 padding-left: 40px;
 padding-right:30px;
 padding-bottom: 500px;
 padding-top: 40px;
}
.results {
  display: none;
}
h1 {
  font-family: sans-serif;
  color:
}

h2 {
  font-family: sans-serif;
  color:
}

p {
  font-family: sans-serif;
}

#page-wrap {
     width: 800px;
     margin: 0 auto;
}

body {
  background-color: #cce0ff;
}
